.container {
	.parent {
		display: flex;
		gap: 10px;
		flex-flow: column;
		justify-content: space-evenly;
		.child {
			display: flex;
			flex-flow: column;
			max-height: 500px;
			.content{
				display: flex;
				gap: 10px;
				.image{
					height: 200px;
					width: 20%;
				}
			}
			.actions{
				display: flex;
				justify-content: space-between;
			}
		}
	}
}
