@import '../../assets/styles/custom.scss';

.navBar {
  background: $color_primary !important;
  margin-bottom: 1rem;
}

.links {
  display: flex;
  flex-grow: 1;

}

.navLink {
  color: $color_light_text;
  padding: 0 1rem;
  text-decoration: none;
  text-transform: capitalize;
  font-family: $font-subheader;
  font-weight: 600;
}
