.footer {
	bottom: 0;
	display: flex !important;
	justify-content: space-between !important;
	align-items: center;
	gap: 10px;
	width: 100%;
	padding: 10px 0;
	height: 120px;
	background: #003343 !important;
	color: #fff;
	.socials {
		display: flex;
		flex-flow: column;
		padding-right: 0.5rem;
	}
	.copy {
		justify-content: center;
		align-items: center;
	}
	.links {
		padding-left: 0.5rem;
	}
}
