@import './assets/styles/custom.scss';

body {
	background: $color_light_text;
}
.container {
	// background: $color_light_accent;
	max-width: 100%;
	min-height: 100vh;
	// overflow: scroll;
}
.error{
    background-color: rgb(22,11,11) !important;
    color: $color_light_text !important;
}